models/smallMalariaModelEpoch10 filter=lfs diff=lfs merge=lfs -text
models/largeMalariaModelEpoch1 filter=lfs diff=lfs merge=lfs -text
models/largeMalariaModelEpoch2 filter=lfs diff=lfs merge=lfs -text
